@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
html{
    box-sizing: border-box;
}
.wrapper{
    width: 90%;
	margin: 0 auto;
    padding:1em;
}
.container{
    background-color:#2B3A50;
    display: inline-block;
    padding-right: 3%;
}
.profile{
    margin-left: 6%;
    margin-bottom: 50px;
}
img{margin-left: 12%;

}
.profile img{
    height: 200px;
    margin-top:65px;
    border-radius: 50%;
    background-color: white;
}    
  
h3 {
    margin-left: 70px;
    text-decoration: underline;
    color: white;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3px;
    
}
li {
    list-style: none;
    margin-left: 10px;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.contact img{
    background-color: white;
   border-radius:20%;
}
.contact li{
    margin:0px;
}
.hobbies img {
    background-color: white;
   border-radius:20%;
}
.name{
    color:#2B3A50;
    display: inline-block;
    position: absolute;
    margin-left: 3%;
    font-size:45px;
    font-family: 'Poppins', sans-serif;
    margin-top: -75px;
    letter-spacing: 15px;
   
}
.job{
    color:#2B3A50;
    display: inline-block;
    position: absolute;
    margin-top:80px;
    margin-left:30px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3px;
}
.border{
    border-bottom: 9px solid #2B3A50;
    margin-bottom: 31px;
    padding-left:210%;
    margin-left:100%;
    margin-top:-17%;
}
.obj{
    display: inline;
    margin-top:12%;
    position: absolute;
    color: #2B3A50;
}
.obj h3 {
    color: #2B3A50;
    margin-left: 3%;
    text-decoration: underline;
    text-decoration-thickness: 5px;
}
.obj p{
    color: #2B3A50;
    margin-left: 3%;
    font-family: 'Poppins', sans-serif;
    padding-right: 13%;
}
.education{
    display: inline;
    margin-top:22%;
    position: absolute;
}
.education h3{
    color: #2B3A50;
    margin-left: 20%;
    text-decoration: underline;
    text-decoration-thickness: 5px;
}
.year{
    color:#2B3A50;
    margin-left:32px;
    display: inline;
    position: absolute;
    bottom: 0;
    left: 30%;
    z-index: 1;
    top:63%;
    margin-left:38px;
    z-index:1;

}
.year h4{
    display: inline;
    font-family:'Poppins', sans-serif; 
    font-weight: bolder;

}
section h4{
    margin:0;
    padding-left:17%;
}
section p{
    color:#2B3A50;
    font-family:'Poppins', sans-serif; 
    margin:0;
    padding-left:34%;
    font-weight: 400;
}
section{
    display: inline;

}
